<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans>
        <bean id="user" class="demo.factorybean.UserFactoryBean">
            <property name="name" value="user 1"/>
            <property name="email" value="user1@example.com"/>
        </bean>
    </beans>

</beans>